{
	debug
	default_sni 192.168.0.254
}

192.168.0.254 {
	redir /n8n /n8n/ 308

	handle_path /n8n/* {
		reverse_proxy n8n:5678
	}

	redir /dtrcam /dtrcam/ 308

	handle /dtrcam/* {
		reverse_proxy dtrcam:4173
	}

	handle {
		reverse_proxy homarr:7575
	}

}
